<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<appenders>


        <RollingRandomAccessFile name="home_project"
            fileName="/Users/Athul/mhrp/logs/Local.log"
            filePattern="/Users/Athul/mhrp/logs/Local-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
            <DefaultRolloverStrategy fileIndex="max" max="100" />
        </RollingRandomAccessFile>

        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m %ex%n" />
        </Console>

	</appenders>
	<loggers>
		<root level="warn">
            <AppenderRef ref="console" />
            <AppenderRef ref="home_project" />
		</root>
        <Logger name="com" level="debug" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="home_project" />
        </Logger>
	</loggers>
</configuration>